:root{
    --bg-color:#cde0bf;
    --bg-color-card:#a7b381;
    --text-sec-color: #5e3848;
}


body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
    color: var(--text-sec-color);
}

ul, li {
    list-style: none;
}
/*CABECERA*/

.cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.cabecera__logo{
  max-width: 30px;
}
.cabecera__titulo{
    font-size: 1rem;
    white-space: nowrap;
}
/*NAVEGACION */
.navegacion__elemento{
   display: none;
}


/*presentacion */
.presentacion{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.presentacion__foto{
    max-width: 80px;
    border-radius: 40%;
}
.presentacion__contenedor{
    justify-content: center;
    align-items: center;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: 7px;
}
.redes__img img{
    max-width: 12px;
}
.redes__img a{
    font-weight: 700;
}

/* Seccion Sobre mi*/

.sobre-mi{
    padding: 1rem;
}
.sobre-mi_titulo{
    font-size: 2rem;
    text-align: center;
}


/*Seccion Habilidades*/

.habilidades{
    display: flex;
    flex-direction: column;
}
.habilidades_titulo{
    font-size: 2rem;
    text-align: center;
}
.habilidades_lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.habilidades_elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-card);
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    font-weight: 600;
    white-space: wrap;
}
.habilidades_elemento img{
    max-width: 30px;
}

/* Sección de hobbies */

.hobbies{
    display: flex;
    flex-direction: column;
}
.hobbies_titulo{
    font-size: 2rem;
    text-align: center;
}

.hobbies_lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.hobbies_elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-card);
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    font-weight: 600;
}
.hobbies_elemento img{
    max-width: 30px;
}

/*Sección de FORMACION ACADEMICA */

.formacion{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.formacion_titulo{
    font-size: 2rem;
    text-align: center;
}

.formacion_elemento img{
    max-width: 250px;
    max-height: 200px;
}

.formacion_parrafo{
    font-weight: 700;
}

.bg_img{
    display: flex;
    justify-content: center;   
    background-color: var(--bg-color-card);
    border-radius: 10px;
}

/*Media Query para tablets*/

@media(min-width: 768px){

}